/*
Created by Timothy Street on 2016.05.03 
Copyright © 2016 Timothy Street. All rights reserved.
*/
.challenges-list-div{
    width: 260px;
    float: left;
    clear: both;
    margin-top: 5px;
    font: serif;
}

