/* Logo blue -> #2980ba */

@font-face {
    font-family: 'Franklin Gothic Book';
    src: url(../fonts/FRABK.ttf);
}

@font-face {
    font-family: 'Gibson';
    src: url(../fonts/gibsonregular.ttf);
}

html, body {
    margin: 0;
    font-family: "Franklin Gothic Book";
    font-size: 16px;
    background-color: #666666;
}

#header-wrapper {
    width: 100%;
    height: 70px;
    background-color: #f8f8f8;
}

#header-inner-wrapper {
    width: 800px;
    height: 70px;
    margin: 0 auto;
}

#betteru-logo {
    margin: 13px 5px 0 0;
    height: 44px;
    float: left;
}

#betteru-name {
    height: 22px;
    margin-top: 24px;
    float: left;
    margin-left: 10px;
}

#header-navigation {
    float: right;
    margin-top: 28px;
    text-transform: uppercase;
    font-family: "Gibson";
    font-size: 14px;
}

#header-navigation a {
    color: #666666;
    text-decoration: none;
}

#header-navigation a:hover {
    text-decoration: underline;
}

#content-container {
    width: 100%;
    background-color: #f8f8f8;
}

#footer-wrapper {
    width: 100%;
    background-color: #444444;
}

#footer-inner-wrapper {
    margin: 0 auto;
    width: 800px;
    color: #ffffff;
    overflow: hidden;
    line-height: 24px;
    padding: 40px 0 40px 0;
    font-size: 14px;
}

#footer-inner-wrapper a {
    color: #eeeeee;
    text-decoration: none;
    border-bottom: 1px #eeeeee dotted;
}

.footer-section-title {
    font-family: "Gibson";
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#footer-navigation {
    float: left;
    margin-right: 100px;
}

#footer-connect {
    float: left;
    margin-right: 100px;
}

#footer-legal {
    float: left;
    margin-right: 100px;
}

#footer-logo {
    float: right;
    height: 50px;
    margin-top: 40px;
    opacity: 0.5;
}

#page-title {
    width: 100%;
    margin: 0;
    background-color: #4aa3e5;
    text-align: center;
    padding: 15px 0 15px 0;
    color: #ffffff;
}

#page-bottom-padding {
    height: 100px;
}

.btn {
    font-family: "Franklin Gothic Book";
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    background-color: #2980ba;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input-control {
    margin: 0 0 10px 0;
    font-family: 'Franklin Gothic Book';
    font-size: 15px;
    appearance: none;
    box-shadow: none;
    border-radius: 3px;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.error-message {
    display: inline-block;
    font-family: 'Franklin Gothic Book';
    font-size: 11pt;
    color: #ba2a2a;
    background-color: #f7d0d0;
    padding: 10px;
    border-radius: 3px;
    font-weight: normal;
}

.error-message:empty {
    display: none;
}

.validation-failed {
    background-color: #f7e2e2;
}

.ui-messages-info, 
.ui-messages-warn, 
.ui-messages-error, 
.ui-messages-fatal {
    display: inline-block;
    margin: 10px 0 0 0;
    font-family: 'Franklin Gothic Book';
    font-size: 11pt;
    font-weight: normal;
    color: #ba2a2a;
    background-color: #f7d0d0;
    padding: 10px;
    border-radius: 3px;
    border: none;
}

.ui-messages-info-summary, 
.ui-messages-warn-summary, 
.ui-messages-error-summary, 
.ui-messages-fatal-summary {
    display: block;
    margin: 0;
    padding: 1px;
    font-weight: normal;
}