#banner-wrapper {
    width: 100%;
    height: 350px;
    background-color: #41c0f7;
}

#banner-message {
    margin: 80px 0 0 60px;
    float: left;
    font-family: "Franklin Gothic Book";
    font-size: 42px;
    color: #ffffff;
}

#banner-inner-wrapper {
    width: 800px;
    margin: 0 auto;
}

#banner-btn {
    clear: left;
    float: left;
    margin: 30px 0 0 40px;
    padding: 12px 20px 12px 20px;
    font-family: "Gibson";
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    border: 1px #ffffff solid;
    border-radius: 5px;
}

#banner-btn:hover {
    background-color: #0ba9ee;
    border-color: #0ba9ee;
    transition: 0.3s background-color ease;
    transition: 0.3s border-color ease;
}

#banner-img {
    float: right;
    width: 380px;
    margin: 55px 40px 0 0;
}

#app-wrapper {
    margin: 0 auto;
    width: 800px;
    overflow: hidden;
}

#app-img {
    margin: 55px 100px 55px 55px;
    height: 350px;
    float: left;
}

#app-message-wrapper {
    width: 370px;
    float: right;
    margin: 120px 35px 0 0;
}

#app-message-wrapper a {
    color: #0ba9ee;
    text-decoration: none;
}

#app-message-large {
    color: #555555;
    font-size: 30px;
    margin-bottom: 15px;
}

#app-message-small {
    
}

#app-sync {
    float: left;
}

#app-sync-message {
    float: left;
    width: 260px;
    margin-left: 20px;
}